<link
  rel="stylesheet"
  href="{{ 'cart-popup.css' | asset_url }}"
  media="all"
>

<link
  rel="stylesheet"
  href="{{ 'cart-component.css' | asset_url }}"
  media="all"
>

<link
  rel="stylesheet"
  href="{{ 'cart-item.css' | asset_url }}"
  media="all"
>

<link
  rel="stylesheet"
  href="{{ 'cart-summary.css' | asset_url }}"
  media="all"
>

<div class="cart-popup jsCartPopup">
  <div class="popup-top">
    <div class="popup-layer">
      <div class="popup__head">
        <a href="/cart">Cart</a>
      </div>
      <div class="header-close">{% render 'icon-close' %}</div>
    </div>
    <div class="popup__content">
      {% render 'cart-component', isHeader: false %}
    </div>
  </div>
  <div class="popup__footer">
    <form action="/cart" id="cartFormcart-section">
      {% render 'cart-summary', isGoToCart: true %}
    </form>
  </div>
</div>
{{ 'cart-popup.js' | asset_url | script_tag }}
