<li class="cart__item jsLineItem" data-line-index="{{ item.index | plus: 1 }}">
  <div class="cart__item-img flex-basis-1/3">
    <a href="{{ item.url | within: collection.all}}">
      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
    </a>
  </div>
  <div class="cart__item-content flex-1">
    <div class="cart__item-info-general">
      <p class="product-vendor">{{ item.vendor }}</p>
      <p class="product-title truncate-multiline" style="--line: 2;">
        {{ item.title }}
      </p>
      <div class="cart__item-options">
        {%- unless item.product.has_only_default_variant %}
          <div class="options">
            {% for option in item.options_with_values -%}
              <p>{{ option.name }}: {{ option.value }}</p>
            {%- endfor %}
          </div>
        {% endunless %}
      </div>
    </div>

    <div class="wrapper-pqs flex flex-3">
      <div class="cart__item-info flex-1 price">
        <p>
          <span class="price"> {{ item.final_price | money }}</span>
          {%- if item.final_price != item.original_price -%}
            <span class="compare-price"> {{ item.original_price | money }}</span>
          {%- endif -%}
        </p>
      </div>

      <div class="cart__item-info flex-1 qty">
        {% if item.variant.inventory_management == 'shopify' %}
          {%- assign max_allowed_quantity = item.variant.inventory_quantity -%}
        {% else %}
          {%- assign max_allowed_quantity = -1 -%}
        {% endif %}
        {% render 'quantity-selector', item: item, max: max_allowed_quantity %}
      </div>

      <div class="cart__item-info flex-1 sub jsLineUpdate">
        <p>
          <span class="price"> {{ item.final_line_price | money }}</span>
          {% if item.final_line_price != item.original_line_price %}
            <span class="compare-price">{{ item.original_line_price | money }}</span>
          {% endif %}
        </p>
      </div>
    </div>

    <div class="cart__item-info flex-1 remove">
      <div class="btn-remove pointer-events">
        {% render 'deleted' %}
      </div>
    </div>
  </div>
</li>
