<link
  rel="stylesheet"
  href="{{ 'cart-item.css' | asset_url }}"
  media="all"
>

{%- liquid
  assign freeShipAmount = section.settings.free_shipping_conditions | times: 100
  assign currentAmount = cart.total_price | times: 1
  assign amount = freeShipAmount | minus: currentAmount
  assign precent = currentAmount | times: 100 | divided_by: freeShipAmount | at_most: 100
-%}

<div class="cart-wrapper">
  <div class="progress__bar-wrapper jsProgress js-cart-update">
    <div class="progress__bar" style="--width:{{ precent}}%">
      <div class="progress__bar-precent"></div>
    </div>
    <div class="progress__bar-msg">
      {%- if amount <= 0 -%}
        {{- 'general.cart.shipping.successfull_html' | t -}}
      {%- else -%}
        {% assign value = amount | money %}
        {{- 'general.cart.shipping.message_html' | t: content: value -}}
      {%- endif -%}
    </div>
  </div>
  {% form 'cart', cart, class: 'jsCartForm', action: routes.cart_url %}
    <div class="cart__form-header">
      <div class="item-product flex-basis-1/3">
        <p class="cart__form-header-label">{{- 'general.cart.header.text_product' | t -}}</p>
      </div>
      <div class="item-details flex-1">
        <p class="cart__form-header-info flex-2"></p>
        <p class="cart__form-header-label flex-1">{{- 'general.cart.header.text_price' | t -}}</p>
        <p class="cart__form-header-label flex-1">{{- 'general.cart.header.text_quantity' | t -}}</p>
        <p class="cart__form-header-label flex-1">{{- 'general.cart.header.text_subtotal' | t -}}</p>
        <p class="cart__form-header-label flex-1">{{- 'general.cart.header.text_delete' | t -}}</p>
      </div>
    </div>
    <ul class="cart__form-items gird-column">
      {% for item in cart.items %}
        {% render 'cart-item', item: item %}
      {% endfor %}
    </ul>
  {% endform %}
</div>
