<link
  rel="stylesheet"
  href="{{ 'collection-filter-items.css' | asset_url }}"
  media="all"
>

<div class="block__filter__items">
  <div class="filter-form">
    <div class="filter-form__item {{ _filter_style | default: 'layout' }}_item">
      {%- for filter in _filter -%}
        <div
          class="filter-wrapper {{ _filter_style | default: 'layout'  }}_wrapper"
        >
          <div class="filter-title {{ _filter_style | default: 'layout'  }}_title">
            <span>{{ filter.label }}</span>
          </div>
          <div class="filter-option {{ _filter_style | default: 'layout'  }}_option {% if filter.label == 'Color' %} overflow_hidden{% endif %}">
            {%- case filter.type -%}
              {%- when 'boolean', 'list' -%}
                {% if filter.param_name == 'filter.v.option.color' %}
                  <div
                    class="filter-colors {{ _filter_style | default: 'layout'  }}_list"
                  >
                    {%- for filter_value in filter.values -%}
                      {% assign value = null %}
                      {% for color in shop.metaobjects.colors.values %}
                        {% if filter_value.value == color.name_color %}
                          {% assign value = color %}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                      {% if value != null %}
                        {% assign image = value.image | img_url: 'medium' %}
                      {% endif %}
                      <label>
                        <div
                          class="filter-colors__image"
                          {% if value != null %}
                            style="{% if value.image  != null %}background-image:url('{{ image }}');{%else%}background: {{ value.text_color}};{% endif %}"
                          {% else %}
                            style="border: 1px solid #05933C;"
                          {% endif %}
                        >
                          <input
                            type="checkbox"
                            name="{{ filter_value.param_name }}"
                            value="{{ filter_value.value }}"
                            data-section-id="{{ section.id }}"
                            {% if filter_value.active -%}
                              checked
                            {%- endif %}
                          >
                        </div>
                        <span>{{- filter_value.label -}}</span>
                      </label>
                    {%- endfor -%}
                  </div>
                {% else %}
                  <ul
                    class="filter-group-display__list {{ _filter_style | default: 'layout'  }}_list"
                  >
                    {%- for filter_value in filter.values -%}
                      <li class="filter-group-display__list-item">
                        <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                          <input
                            type="checkbox"
                            name="{{ filter_value.param_name }}"
                            value="{{ filter_value.value }}"
                            id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                            data-section-id="{{ section.id }}"
                            {% if filter_value.active -%}
                              checked
                            {%- endif %}
                          >
                          <span>{{- filter_value.label -}}</span>
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>
                {% endif %}

              {%- when 'price_range' -%}
                <div class="filter-group-display__price-range">
                  <div class="filter-group-display__price-range-from">
                    <span>{{ cart.currency.symbol }}</span>
                    <input
                      name="{{ filter.min_value.param_name }}"
                      id="Filter-{{ filter.min_value.param_name }}"
                      data-section-id="{{ section.id }}"
                      {% if filter.min_value.value -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                      {%- endif %}
                      type="number"
                      placeholder="0"
                      min="0"
                      data-max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    >
                  </div>
                  <div class="price-dash">&nbsp;–&nbsp;</div>
                  <div class="filter-group-display__price-range-to">
                    <span>{{ cart.currency.symbol }}</span>
                    <input
                      name="{{ filter.max_value.param_name }}"
                      id="Filter-{{ filter.max_value.param_name }}"
                      data-section-id="{{ section.id }}"
                      {% if filter.max_value.value -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                      {%- endif %}
                      type="number"
                      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      min="0"
                      data-max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    >
                  </div>
                </div>
            {%- endcase -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
