<link
  rel="stylesheet"
  href="{{ 'collection-sort.css' | asset_url }}"
  media="all"
>

<div class="form_wrapper {{ _class  }}">
  <label for="{{ _id_select }}">{{ label }} </label>
  <select
    name="{{ _name }}"
    id="{{ _id_select }}"
    data-section-id="{{ section.id }}"
  >
    {% for item in options %}
      {%- assign view = item | strip | times: 1 -%}
      {% if item.value %}
        {% comment %} sort by {% endcomment %}
        {% assign value = item.value %}
        {% assign name = item.name %}
      {% else %}
        {% comment %} show {% endcomment %}
        {% assign value = view %}
        {% assign name = view %}
      {% endif %}
      <option
        value="{{ value }}"
        {% if value == _sort %}
          selected
        {% endif %}
      >
        {{ name }}
      </option>
    {% endfor %}
  </select>
</div>

{% comment %}
  v1
    <form action="{{ _collection_url }}" class="form_wrapper">
      <label for="{{ _id }}">{{ label }} </label>
      <select name="{{ _name }}" id="{{ _id }}" onchange="this.closest('form').submit();">
        {% for item in options %}
          <option
            value="{{ item.value }}"
            {% if item.value == _sort_by %}
              selected
            {% endif %}
          >
            {{ item.name }}
          </option>
        {% endfor %}
      </select>
    </form>
{% endcomment %}

{% comment %}
  https://arena-commerce-pineapple.myshopify.com/collections/car?sort_by=title-descending
{% endcomment %}

{% comment %}
  v2
  <form class="form_wrapper">
    <label for="{{ _id }}">{{ label }} </label>
    <select
      name="{{ _name }}"
      id="{{ _id }}"
      onchange="handleChange(event);"
      data-url="{{ _collection_url }}"
    >
      {% for item in options %}
        <option
          value="{{ item.value }}"
          {% if item.value == _sort_by %}
            selected
          {% endif %}
        >
          {{ item.name }}
        </option>
      {% endfor %}
    </select>
  </form>
{% endcomment %}
