<link
  rel="stylesheet"
  href="{{ 'product-infor-wrapper.css' | asset_url }}"
  media="all"
>

{%- assign productSelect = productSelect | default: product.selected_or_first_available_variant -%}
{% assign selectedQuantity = 0 %}
{% assign variantSelect = '' %}
{% for variant in product.variants %}
  {% if variant.id == productSelect.id %}
    {% assign variantSelect = variant %}
    {% assign selectedQuantity = variant.inventory_quantity %}
  {% endif %}
{% endfor %}

<div class="product-infor-wrapper">
  {% form 'product',
    product,
    class: 'jsProductForm',
    data-section-id: section.id,
    id: 'jsFormProduct',
    data-type: section.settings.type__submit
  %}
    <div class="product-infor">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'title' %}
            {% comment %} VENDOR {% endcomment %}
            <p class="product-vendor">{{ product.vendor }}</p>
            {% comment %} TITLE {% endcomment %}
            <h1 class="product-title">{{ product.title }}</h1>

          {% when '@app' %}
            {% comment %} REVIEW {% endcomment %}
            <div class="product-rating">
              {% render block %}
            </div>
          {% when 'price' %}
            {% comment %} PRICE {% endcomment %}
            <div class="product-price">
              <span class="compare-price">{{- productSelect.price | money -}}</span>
              <span class="price">{{- productSelect.compare_at_price | money -}}</span>
            </div>
          {% when 'hr' %}
            <div
              class="hr"
              style="height:{{ block.settings.height }}; margin:{{ block.settings.margin }}; background-color:#D6D6D6;"
            ></div>
          {% when 'product_options' %}
            {% comment %} PRODUCT OPTIONS {% endcomment %}
            <div class="product-option">
              {% assign listStyle = block.settings.style_image | split: ',' | downcase %}

              {%
                render 'product-options',
                styleOption: block.settings.radio,
                product: product,
                productSelect: productSelect,
                sectionID: sectionID,
                listStyle:listStyle,
              %}
            </div>
          {% when 'add_to_cart' %}
            {% comment %} ADD TO CART {% endcomment %}
            <p class="product-quantity">
              <span>{{ 'general.product.info.text_total_quantity' | t }}</span>
              <span
                class="variant-inventory"
              >
                {% if variantSelect.inventory_management == 'shopify' %}
                  {% if selectedQuantity > 0 %}
                    {% if selectedQuantity < 10 %}
                      {{ 'general.product.info.variant_inventory' | t: selectedQuantity: selectedQuantity }}
                    {% endif %}
                  {% else %}
                    {{ 'general.product.info.sold_out' | t }}
                  {% endif %}
                {% endif %}
              </span>
            </p>
            <div class="product-cart">
              {% render 'product-cart', selectedQuantity: selectedQuantity %}
            </div>
            <div class="check-policy">
              {% render 'check-policy' %}
            </div>
            {{ form | payment_button }}
            <input
              name="id"
              value="{{ product.selected_or_first_available_variant.id}}"
              style="display: none;"
              class="jsSubmit"
            >
          {% when 'list_link' %}
            {% comment %} LIST {% endcomment %}
            <div class="list-link">
              <div class="wish-list">
                {% render 'heart' %}
                {{ 'general.product.info.add_to_wishlist' | t }}
              </div>
            </div>
          {% when 'social_sharing' %}
            {% comment %} SOCIAL SHARING {% endcomment %}
            {% assign blockIcon = '' %}
            {% for block in section.blocks offset: forloop.index %}
              {% case block.type %}
                {% when 'child_icon-social' %}
                  {% assign item = block.settings %}
                  {% capture blockIcon %}
                 {{ blockIcon }}
                  <a href="{{ item.social-icon-url }}">
                    <div class="social__item-icon">
                    <img
                      src="{{ item.social-icon | image_url }}"
                      alt="icon"
                      class="social__item-icon-img">
                  </div>
                  </a>
               {% endcapture %}
              {% endcase %}
            {% endfor %}
            <div class="product-social-sharing">
              {{ blockIcon }}
            </div>
          {% when 'tag_and_sku' %}
            {% comment %} TAGS {% endcomment %}
            {% assign tag_count = product.tags.size %}
            {% unless tag_count < 1 %}
              <div class="product-tags">
                <span> {{ 'general.product.info.text_tags' | t }}: </span>
                <ul>
                  {% for tag in product.tags %}
                    <li>
                      {{ tag | capitalize -}}
                      {%- if forloop.last %}{% else %},{% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endunless %}

            {% comment %} SKU {% endcomment %}

            <div class="product-sku">
              {% assign sku = productSelect.sku %}
              {% if sku != blank %}
                <span>{{ 'general.product.info.text_sku' | t }}: </span> {{ sku }}
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  {% endform %}
</div>
