{%- capture optionIndex -%}option{{ option.position }}{%- endcapture -%}
{% liquid
  assign formID = formID | default: 'mainProductForm'
  assign styleOption = styleOption | handle
%}

{% case styleOption %}
  {% when 'select' %}
    <select
      id="Option{{ option.position }}"
      class="js-variant-change check-position"
      name="{{ option.name}}"
      form="{{formID}}"
      data-section-id="{{ sectionID }}"
      data-position="{{ option.position }}"
    >
      {%- for value in option.values -%}
        {%- assign valueDownCase = value | downcase -%}
        <option
          value="{{ value | escape }}"
          {%- if option.selected_value == value %}
            selected
          {% endif -%}
        >
          {{- value -}}
        </option>
      {%- endfor -%}
    </select>

  {% when 'button' %}
    <div class="button-list check-position" data-position="{{ option.position }}">
      {%- for value in option.values -%}
        {%- capture swtID -%}
         {{ sectionID | remove: '.' }}swt{{ option.position }}_{{ value | handle }}
        {%- endcapture -%}
        {%- assign variantSelect = product.variants | where: optionIndex, value | first -%}
        <label class="button-item">
          <input
            type="radio"
            name="{{ option.name | handleize }}"
            class="option-button"
            value="{{ value | escape }}"
            {%- if option.selected_value == value -%}
              checked="checked"
            {%- endif -%}
          >
          {{ value -}}
        </label>
      {%- endfor -%}
    </div>

  {% when 'image' %}
    <div class="image-list check-position" data-position="{{ option.position }}">
      {%- for value in option.values -%}
        {%- capture swtID -%}
          {{ sectionID | remove: '.' }}swt{{ option.position }}_{{ value | handle }}
         {%- endcapture -%}
        {%- assign valueDownCase = value | downcase -%}
        {%- assign variantSelect = product.variants | where: optionIndex, value | first -%}
        <div class="image-item">
          <label
            style="background:url({{ variantSelect.featured_media | image_url }}); background-size: cover;"
          >
            <input
              type="radio"
              class="option-radio"
              name="{{ option.name | handleize }}"
              value="{{ value | escape }}"
              data-value="{{ value | escape }}"
              {%- if option.selected_value == value -%}
                checked="checked"
              {%- endif -%}
            >
          </label>
          <span>{{ value }}</span>
        </div>
      {%- endfor -%}
    </div>
{% endcase %}
