<a href="{{ product.url}}">
  <div class="card">
    <div class="card__inner">
      <div class="card__image-wrapper">
        <div class="image__style">
          <img src="{{ product.featured_image | image_url }}" alt="{{product.featured_image.alt}}">
        </div>
        <div class="card__group">
          {% if product.has_only_default_variant %}
            <button>
              {% render 'card' %}
            </button>
          {% else %}
            <button class="jsViewCart pointer-events" data-variant-id="{{ product.variants.first.id }}">
              {% render 'paypal' %}
            </button>
          {% endif %}
        </div>
        {% if product.compare_at_price_max != blank and product.compare_at_price_max > 0 %}
          <div class="tag">{{ 'general.product.info.text_sale' | t }}</div>
        {% endif %}
      </div>
      <div class="card__content">
        <h4 class="card-title">
          {{ product.title }}
        </h4>
        {% if product.available %}
          <div class="money">
            <span
              class="
                price  {% if product.compare_at_price_max != blank and product.compare_at_price_max > 0 %}
                 price_color
                {% endif %}
              "
            >
              {{- product.price | money -}}
            </span>
            {% if product.compare_at_price_max != blank and product.compare_at_price_max > 0 %}
              <span class="discount">{{ product.compare_at_price_max | money }}</span>
            {% endif %}
          </div>

        {% else %}
          <div class="sold_out">{{ 'general.product.info.sold_out' | t }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</a>
