<link
  rel="stylesheet"
  href="{{ 'quantity-selector.css' | asset_url }}"
  media="all"
>

<div class="quantity-wrapper">
  <button
    type="button"
    class="icon remove__qlt pointer-events"
  >
    {% render 'icon-remove' %}
  </button>
  <input
    type="number"
    value="{{ item.quantity}}"
    min="1"
    {% if max > 0 %}
      max="{{ max }}"
    {% endif %}
    class="quantity__input"
    name="updates[]"
    id="Quantity-{{ item.index | plus: 1 }}"
    data-key="{{ item.key }}"
    data-sections_url="{{ item.url}}"
    data-sections="{{ section.id}}"
  >
  <button
    type="button"
    class="icon add__qlt pointer-events"
  >
    {% render 'icon-add' %}
  </button>
</div>
