{%- capture tabID -%}tab{{ heading | md5 }}{%- endcapture -%}

{% case type %}
  {% when 'tab_header' %}
    <div class="des_btn jsNavTabDesktop" data-id="{{ tabID }}">{{ heading }}</div>
  {% when 'tab_body' %}
    <div class="tab__panel-content jsBodyTab" data-id="{{ tabID }}">
      <div class="tab_header-body jsNavTabMobile" data-id="{{ tabID }}">
        <span>{{ heading }}</span>
        <div style="padding-right:7px;">
          <span class="plus">
            {% render 'plus' %}
          </span>
          <span class="minus">
            {% render 'minus' %}
          </span>
        </div>
      </div>
      <div class="tab__panel-item jsBodyTabMobile" data-id="{{ tabID }}">
        <div class="tab__content-body">{{ body }}</div>
      </div>
    </div>
{% endcase %}
