<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="stylesheet"
      href="{{ 'reset.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
    <link
      rel="stylesheet"
      href="{{ 'global.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
    <link
      rel="stylesheet"
      href="{{ 'base.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
    <link
      rel="stylesheet"
      href="{{ 'header.css' | asset_url }}"
      media="all"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css"
      integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="{{ 'section.css' | asset_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-countup@1.0.1/build/jquery.countUp.min.js"></script>
    {{ 'theme-editor.js' | asset_url | script_tag }}
    {{ 'countup.js' | asset_url | script_tag }}
    {{ 'product-card.js' | asset_url | script_tag }}
  {% include 'arn_wl_cp_settings' %}
{% include 'arn_wl_cp_styles' %}
{% include 'arn_icons_define' %}
{% if shop.metafields.arena.wl_cp_settings.general_settings.app_script == false %}
            <script defer crossorigin="anonymous" src="{{ 'arn-wishlist-compare.js' | asset_url }}"></script>
          {% endif %}{% if shop.metafields.arena.wl_cp_settings.value.general_settings.app_script == false %}
            <script defer crossorigin="anonymous" src="{{ 'arn-wishlist-compare.js' | asset_url }}"></script>
          {% endif %}</head>
  <body>
    <div id="bg-color" class=""></div>
    {% section 'header' %}
    {{ content_for_layout }}
    {% sections 'colors-swatches' %}
    {% section 'social' %}
    {% section 'footer1' %}

    {% if request.design_mode %}
      <link
        rel="stylesheet"
        href="{{ 'dynamic-section-swatch.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif %}
  </body>
</html>
