<link
  rel="stylesheet"
  href="{{ 'cart-popup.css' | asset_url }}"
  media="all"
>

<link
  rel="stylesheet"
  href="{{ 'cart-component.css' | asset_url }}"
  media="all"
>

<link
  rel="stylesheet"
  href="{{ 'cart-item.css' | asset_url }}"
  media="all"
>

<link
  rel="stylesheet"
  href="{{ 'cart-summary.css' | asset_url }}"
  media="all"
>

<div class="cart-popup jsCartPopup" data-section-id="{{ section.id }}" datatest="{{ settings.cart_free_ship_amount }}">
  <div class="popup-top">
    <div class="popup-layer">
      <div class="popup__head">
        <a href="/cart">Cart</a>
      </div>
      <div class="popup__header-close">{% render 'icon-close' %}</div>
    </div>
    <div class="popup__content jsPopupUpdate">
      {% if cart.item_count > 0 %}
        {% render 'cart-component', isHeader: false %}
      {% else %}
        {% render 'cart-empty' %}
      {% endif %}
    </div>
  </div>
  <div class="popup__footer jsPopupUpdate">
    {% if cart.item_count > 0 %}
      <form action="/cart" id="cartFormcart-section">
        {% render 'cart-summary', isGoToCart: true %}
      </form>
    {% endif %}
  </div>
</div>
{{ 'cart-popup.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Cart Popup",
  "tag": "section",
  "class": "shopify-section-cart-popup",
  "presets": [
    {
      "name": "Cart Popup"
    }
  ],
  "settings": [],
  "blocks": []
}
{% endschema %}
