<header class="header container_wrapper">
  <div class=" header__logo header__logo__{{ section.settings.select_position }}">
    <img
      {% if section.settings.header_logo == blank %}
        src="https://cdn.shopify.com/s/files/1/0742/4648/8339/files/logo.svg?v=1680668505"
      {% else %}
        src="{{section.settings.header_logo | image_url }}"
      {% endif -%}
      alt="logo"
      class="header__logo-image"
    >
  </div>

  <div class="header__navlink header__navlink__{{ section.settings.select_position }} {{section.settings.text_color}}">
    {% for link in section.settings.menu.links -%}
      <div>
        <a href="{{ link.url}}" class="header__navlink-item">{{ link.title }}</a>
      </div>
    {%- endfor %}
  </div>

  <div class="header__icon header__icon__{{ section.settings.select_position }}">
    <a href="#" class="header__icon-link">
      <img
        src="https://cdn.shopify.com/s/files/1/0742/4648/8339/files/user-person-profile-account-contact_1.svg?v=1680668890"
        alt="icon user"
        class="header__icon-user"
      >
    </a>
    {% comment %}
      <a href="#" class="header__icon-link">
        <div class="header__icon-healt">
          <div class="header__icon-healtImage">
            <img
              src="https://cdn.shopify.com/s/files/1/0742/4648/8339/files/heart_healt.svg?v=1680668907"
              alt="icon healt"
            >
          </div>
          <div class="header__icon-badge jsWishList">0</div>
        </div>
      </a>
    {% endcomment %}
    {% render 'arn_wl_cp_buttons', type: 'wl_show_btn', product_handle: product.handle %}
    <div class="header__icon-link jsViewPopupCart">
      <div class="header__icon-cart">
        <img
          src="https://cdn.shopify.com/s/files/1/0742/4648/8339/files/shopping-cart-cart-shopping-commerce-ecommerce_1.svg?v=1680668903"
          alt="icon healt"
          class="header__icon-cardImage"
        >
        <div class="header__icon-badge jsCountItemCart">{{ cart.item_count }}</div>
      </div>
    </div>
    <button class="header-bugger">
      <img
        src="https://cdn.shopify.com/s/files/1/0742/4648/8339/files/home.svg?v=1681019703"
        alt="nr"
        class="header__icon-menu"
      >
    </button>
  </div>
  <div class="header-menu">
    <div class="header-menu__btn-close">
      <button class="header-close">{% render 'icon-close' %}</button>
    </div>
    <div class="header-menu__list-link">
      {% for link in section.settings.menu.links -%}
        <div class="header-menu__item">
          <a href="{{ link.url}}" class="header-menu__item-link">{{ link.title }}</a>
        </div>
      {%- endfor %}
    </div>
  </div>
  <div id="bg-color"></div>
</header>

{{ 'header.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Color",
      "options": [
        {
          "value": "blue",
          "label": "Blue Color"
        },
        {
          "value": "red",
          "label": "Red Color"
        },
        {
          "value": "black",
          "label": "Black Color"
        }
      ],
      "default": "black"
    },
    {
      "type": "header",
      "content": "Position"
    },
    {
      "type": "select",
      "id": "select_position",
      "label": "Position Item",
      "options": [
        {
          "value": "1",
          "label": "Logo - NavLink - Icon"
        },
        {
          "value": "2",
          "label": "Logo - Icon - NavLink"
        },
        {
          "value": "3",
          "label": "NavLink - Logo - Icon"
        }
      ],
      "default": "1"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
