<link
  rel="stylesheet"
  href="{{ 'main-collection.css' | asset_url }}"
  media="all"
>

<link
  rel="stylesheet"
  href="{{ 'collection-product.css' | asset_url }}"
  media="all"
>

<link
  rel="stylesheet"
  href="{{ 'paginate_link.css' | asset_url }}"
  media="all"
>

{% liquid
  assign products = collection.products
  assign productSize = collection.products_count
  assign collectionTitle = collection.title
  assign collectionDescription = collection.description
  assign itemsPerPage = section.settings.items_per_page | default: 20 | times: 1
  assign itemPerRow = section.settings.items_per_row
  assign itemsPerPageCustom = cart.attributes.items_per_page | default: itemsPerPage | times: 1
%}
{% if request.design_mode %}
  {% assign itemsPerPageCustom = itemsPerPage %}
{% endif %}

<style>
  .section_container {
    --items_per_row: {{itemPerRow}};
  }
</style>

{% assign filter = '' %}

<div class="section_container container_wrapper" data: {{ collection.filters.boolean }}>
  {% comment %}
    ------------------------
    COLLECTION TOP
    ------------------------
  {% endcomment %}
  <div class="collection__header">
    <div class="collection__header-content">
      {% render 'collection-content',
        title: collectionTitle,
        description: collectionDescription,
        productCount: collection.products_count
      %}
    </div>
    <div class="collection__header-content">
      {% render 'collection-image', image: collection.image %}
    </div>
  </div>

  <div class="collection__toolbar">
    {% if true %}
      <button class="collection__toolbar-filter-btn">
        <span class="collection__toolbar-filter-icon">{% render 'icon-close' %}</span>
        Filter
      </button>
    {% endif %}
    <div class="collection__toolbar-sort">
      <div class="collection__toolbar-sort-by">
        {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
        {% render 'collection-sort',
          label: 'Sort by',
          options: collection.sort_options,
          _sort: sort_by,
          _id_select: 'sort_by'
        %}
      </div>

      <div class="collection__toolbar-sort-by">
        {% assign showingList = section.settings.total_viewlist | split: ',' -%}
        {% render 'collection-sort',
          label: 'Show',
          options: showingList,
          _sort: itemsPerPageCustom,
          _id_select: 'show'
        %}
      </div>
    </div>
  </div>
  {% if true %}
    <div class="collection__toolbar__filter">
      {% render 'collection-filter' %}
    </div>
  {% endif %}

  <div class="collection__hr"></div>

  {%- comment -%}
    -------------------------------
    RENDER PRODUCT
    -------------------------------
  {%- endcomment -%}

  {%- paginate collection.products by itemsPerPageCustom -%}
    <div class="collection__products" id="collection__products">
      {% for product in collection.products %}
        {% render 'collection-product', product: product %}
      {% endfor %}
    </div>
    <div class="collection__paginate">
      {%- render 'pagination', paginate: paginate, type: section.settings.paginate_style -%}
    </div>
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "number",
      "label": "Items per page",
      "default": 20,
      "id": "items_per_page"
    },
    {
      "type": "range",
      "label": "Max number of item per row",
      "id": "items_per_row",
      "min": 3,
      "max": 6,
      "default": 3,
      "step": 1
    },
    {
      "type": "select",
      "id": "paginate_style",
      "label": "Paginate Style",
      "options": [
        {
          "label": "Infinity",
          "value": "infinity"
        },
        {
          "label": "Page",
          "value": "page"
        }
      ],
      "default": "page"
    },
    {
      "type": "text",
      "id": "total_viewlist",
      "label": "Total view list",
      "default": "5,10,15,20",
      "info": "Blank to hide"
    }
  ],
  "blocks": [
    {
      "type": "filter",
      "name": "Collection Filters",
      "limit": 1
    }
  ]
}
{% endschema %}
{{ 'collection.js' | asset_url | script_tag }}
{{ 'main-collection.js' | asset_url | script_tag }}
