<link
  rel="stylesheet"
  href="{{ 'product.css' | asset_url }}"
  media="all"
>
<link
  rel="stylesheet"
  href="{{ 'product-gallery-wrapper.css' | asset_url }}"
  media="all"
>
<link
  rel="stylesheet"
  href="{{ 'product-infor-wrapper.css' | asset_url }}"
  media="all"
>

{%- liquid
  assign sectionID = '#shopify-section-' | append: section.id
  assign productSelect = product.selected_or_first_available_variant
-%}

{% capture styleOption %}
{% for _block in section.blocks %}
  {% case _block.type %}
    {% when 'swatch_style' %}
   {{ _block.settings.radio }}
  {% endcase %}
{% endfor %}
{% endcapture %}

<div class="product-section-wrapper container_wrapper">
  <div class="product-layout">
    <div class="product-container">
      {% render 'product-gallery-wrapper', product: product %}
      {%
        render 'product-infor-wrapper',
        styleOption: styleOption,
        productSelect: productSelect,
        sectionID:sectionID ,
      %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "product",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "swatch_style",
      "name": "Product Options",
      "settings": [
        {
          "type": "radio",
          "id": "radio",
          "label": "Swatch style",
          "options": [
            {
              "value": "button",
              "label": "Button"
            },
            {
              "value": "select",
              "label": "Select"
            },
            {
              "value": "image",
              "label": "Color / Image"
            }
          ],
          "default": "button"
        }
      ]
    }
  ]
}
{% endschema %}
<script id="product_data" type="application/json">
  {{product | json}}
</script>
{{ 'main-product.js' | asset_url | script_tag }}
