<link
  rel="stylesheet"
  href="{{ 'product-description.css' | asset_url }}"
  media="all"
>

{%- capture content -%}
  {% for block in section.blocks %}
    {%- if block.type == '@app' -%}
      {%- continue -%}{%- endif -%}
    {%- assign heading = block.settings.text -%}
    {%- assign body = block.settings.content -%}

    {% case block.type %}
      {% when "tab_heading" %}
      {%- assign heading = block.settings.text -%}
      {%- capture body -%}
        {%- for childBlock in section.blocks offset: forloop.index -%}
          {%- unless childBlock.type == '@app' -%}
            {%- break -%}{%- endunless -%}
          {% render childBlock %}
        {%- endfor -%}
      {%- endcapture -%}
      {%- when 'description' -%}
      {% liquid
           assign description = product.description
           assign descriptionCheck = description | strip_html | strip
           assign heading = block.settings.text_description | strip_html | strip
        %}

      {%- if descriptionCheck == blank -%}
        {%- continue -%}{%- endif -%}
      {% assign body = description %}
      
      {%- when 'page' -%}
       {%- assign heading  = heading | default: pages[body].title -%}
        {%- assign body     = pages[body].content -%} 
    {% endcase %}

    {%- if body == blank -%}
      {%- continue -%}{%- endif -%}

    {%- capture tabHead -%}
      {{ tabHead }}{%- render 'snippet-description', type: 'tab_header', heading: heading -%}{%- endcapture -%}
    {%- capture tabBody -%}
      {{ tabBody }}{%- render 'snippet-description', type: 'tab_body', heading: heading, body: body -%}{%- endcapture -%}

  {% endfor %}

  <div class="product-description">
        <div class="tab__panel-wrapper">
          <div class="tab__panel-header">{{ tabHead }}</div>
          <div class="tab__panel-body">{{ tabBody }}</div>
        </div>
  </div>
{% endcapture %}

<div class="container_wrapper section_container">
  {{ content }}
</div>

{% schema %}
{
  "name": "Product Description",
  "class": "shopify-section-description",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "tab_heading",
      "name": "Tab heading for apps",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Tab heading content",
          "default": "Tab heading"
        }
      ]
    },
    {
      "type": "description",
      "name": "Product Description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_multil_tab",
          "label": "Use Multi-tabs with heading 5 tag",
          "info": "We use heading 5 in Product's description to seperate Multi-tabs, each <h5>Tabs Title</h5> will be considered as content seperator and tabs title"
        },
        {
          "type": "text",
          "id": "text_description",
          "label": "Tab heading content",
          "default": "Tab heading"
        }
      ]
    },
    {
      "type": "page",
      "name": "Static page",
      "settings": [
        {
          "type": "paragraph",
          "content": "Static tan is created based on Page content. It's ueseful to add the same content for all products such as Shipping term, Size guide, etc."
        },
        {
          "type": "text",
          "id": "text",
          "label": "Heading"
        },
        {
          "type": "page",
          "id": "content",
          "label": "Select a Page"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Description"
    }
  ]
}
{% endschema %}

{{ 'main-description.js' | asset_url | script_tag }}
