<link
  rel="stylesheet"
  href="{{ 'product.css' | asset_url }}"
  media="all"
>
<link
  rel="stylesheet"
  href="{{ 'product-gallery-wrapper.css' | asset_url }}"
  media="all"
>
<link
  rel="stylesheet"
  href="{{ 'product-infor-wrapper.css' | asset_url }}"
  media="all"
>

{%- liquid
  assign sectionID = '#shopify-section-' | append: section.id
  assign productSelect = product.selected_or_first_available_variant
-%}
<div class="product-section-wrapper container_wrapper" data-section-id="{{ section.id }}">
  <div class="product-layout">
    <div class="product-container">
      {% render 'product-gallery-wrapper', product: product %}
      {%
        render 'product-infor-wrapper',
        productSelect: productSelect,
        sectionID:sectionID ,
        listStyle:listStyle,
      %}
    </div>
  </div>
  {% comment %}
    <button id="btn-arrow-top" title="Top">
      {% render 'expand' %}
    </button>
  {% endcomment %}
</div>
{% schema %}
{
  "name": "product",
  "tag": "section",
  "settings": [
    {
      "type": "radio",
      "id": "type__submit",
      "label": "Type Submit",
      "options": [
        {
          "label": "Redirect",
          "value": "a"
        },
        {
          "label": "Popup",
          "value": "b"
        }
      ],
      "default": "a"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title"
    },
    {
      "type": "@app"
    },
    {
      "type": "price",
      "name": "Price"
    },
    {
      "type": "product_options",
      "name": "Product Option",
      "settings": [
        {
          "type": "radio",
          "id": "radio",
          "label": "Swatch style",
          "options": [
            {
              "value": "button",
              "label": "Button"
            },
            {
              "value": "select",
              "label": "Select"
            },
            {
              "value": "image",
              "label": "Color / Image"
            }
          ],
          "default": "button"
        },
        {
          "type": "textarea",
          "id": "style_image",
          "label": "Use swatch image for option name",
          "info": "e.g: Color"
        }
      ]
    },
    {
      "type": "add_to_cart",
      "name": "Add to cart"
    },
    {
      "type": "list_link",
      "name": "Link"
    },
    {
      "type": "social_sharing",
      "name": "Social sharing"
    },
    {
      "type": "child_icon-social",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "social-icon"
        },
        {
          "type": "url",
          "id": "social-icon-url",
          "label": "Url"
        }
      ]
    },
    {
      "type": "hr",
      "name": "Straight Line",
      "settings": [
        {
          "type": "text",
          "id": "height",
          "label": "Height",
          "default": "1px",
          "info": "E.g: 1px, 10px"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin",
          "default": "20px 0 0 0",
          "info": "E.g: 20px 0 0 0"
        }
      ]
    },
    {
      "type": "tag_and_sku",
      "name": "Tag & SKU"
    }
  ]
}
{% endschema %}
<script id="product_data" type="application/json">
  {{product | json}}
</script>
<script id="product_options" type="application/json">
  {{ product.options_with_values | json}}
</script>
<script id="product_handle" type="application/json">
  {{ product.handle | json}}
</script>
<script id="product_id" type="application/json">
  {{ product.id | json}}
</script>
{{ 'main-product.js' | asset_url | script_tag }}
