<link
  rel="stylesheet"
  href="{{ 'product.css' | asset_url }}"
  media="all"
>
<link
  rel="stylesheet"
  href="{{ 'product-gallery-wrapper.css' | asset_url }}"
  media="all"
>
<link
  rel="stylesheet"
  href="{{ 'product-infor-wrapper.css' | asset_url }}"
  media="all"
>

{%- liquid
  assign sectionID = '#shopify-section-' | append: section.id
  assign productSelect = product.selected_or_first_available_variant
-%}
{% assign listStyle = section.settings['style-image'] | split: ',' | downcase %}
<div class="product-section-wrapper container_wrapper">
  <div class="product-layout">
    <div class="product-container">
      {% render 'product-gallery-wrapper', product: product %}
      {%
        render 'product-infor-wrapper',
        styleOption: section.settings.radio,
        productSelect: productSelect,
        sectionID:sectionID ,
        listStyle:listStyle,
      %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "product",
  "tag": "section",
  "settings": [
    {
      "type": "radio",
      "id": "radio",
      "label": "Swatch style",
      "options": [
        {
          "value": "button",
          "label": "Button"
        },
        {
          "value": "select",
          "label": "Select"
        },
        {
          "value": "image",
          "label": "Color / Image"
        }
      ],
      "default": "button"
    },
    {
      "type": "textarea",
      "id": "style-image",
      "label": "Use swatch image for option name",
      "info": "e.g: Color"
    }
  ],
  "blocks": []
}
{% endschema %}
<script id="product_data" type="application/json">
  {{product | json}}
</script>
<script id="product_options" type="application/json">
  {{ product.options_with_values | json}}
</script>
{{ 'main-product.js' | asset_url | script_tag }}
<script>
  productTrigger({{product.id}})
</script>
