<link
  rel="stylesheet"
  href="{{ 'recently.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

{% assign items_per_row = section.settings.items_per_row %}
{% assign items_per_row-array = items_per_row | split: ',' %}
{% assign items_per_row-mobile = items_per_row-array[0] %}
{% assign items_per_row-tablet = items_per_row-array[1] | default: items_per_row-array[0] %}
{% assign items_per_row-desktop = items_per_row-array[2] | default: items_per_row-array[1] %}

<style>
  .shopify-section-{{ section.id}}.recently-container{
    --margin: {{ section.settings.margin }};
    --item-per-row-mobile:{{ items_per_row-mobile }};
    --item-per-row-tablet:{{ items_per_row-tablet }};
    --item-per-row-desktop:{{ items_per_row-desktop }};
    --items_spacing :{{ section.settings.items_spacing }}
  }
</style>

<div class="container_wrapper">
  <div
    class="shopify-section-{{ section.id}} recently-container jsRecently"
    data-section-id="{{ section.id }}"
    data-product-handel="{{ product.handle }}"
  >
    <div class="hidden">
      {% render 'product-item', product: product %}
    </div>

    <div class="recently-header">{{ section.settings.text_title }}</div>
    <div class="wrapper">
      <div class="recently"></div>
      <div class="prev">
        {% render 'expand' %}
      </div>
      <div class="next">
        {% render 'expand' %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Recently",
  "tag": "section",
  "class": "shopify-section-recently",
  "settings": [
    {
      "id": "text_title",
      "type": "text",
      "label": "Heding",
      "default": "Recently viewed"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section Margin",
      "default": "20px 0"
    },
    {
      "type": "text",
      "id": "items_per_row",
      "label": "Max number of item per row",
      "default": "1,3,5"
    },
    {
      "type": "text",
      "id": "items_spacing",
      "label": "Item spacing",
      "default": "4px",
      "info": "e.g: 15px"
    },
    {
      "type": "number",
      "id": "limit",
      "label": "Limit",
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "Recently"
    }
  ]
}
{% endschema %}
<script id="recently" type="application/json">
  {{ items_per_row-mobile| append: ',' | append: items_per_row-tablet | append: ',' |append: items_per_row-desktop |append: ';' |append: section.settings.items_spacing   | json}}
</script>
{{ 'product-recently.js' | asset_url | script_tag }}
